body{
  margin: 0;
  padding: 0;
}

.navBar{
    height: 2rem;
    display: flex;
    background-color: #4F3973;
    font-size: 2rem;
    padding: 0.5rem;
}

.navBar a{
    color: white;
    text-decoration: none;
}

.gameZone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 5rem;
    display: grid;
    grid-template-rows: repeat(3,7vw);
    grid-template-columns: repeat(3,7vw);
}

.boxAr{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    border: 1px solid black;
}

.boxAr:hover{
    background-color: #B0A8B9;
}

.gameOption{
    margin-top: 1rem;
    font-size: 1vw;
    margin-left: -2rem;
}

.reaction img{
    margin-top: 1vw;
    margin-left: -4vw;
    width: 7vw;
    height: 7vw;
}

.wrong-bg{
    background-color: rgb(184, 76, 76);
}

.reaction{
    display: none;
    margin-left: -2vw;
}

.reset{
    width: 5vw;
    height: 3vw;
    font-size: 1.3vw;
    text-align: center;
    border: 0;
    border-radius: 10%;
    background-color: #ffc107;
    margin-left: 2vw;
}

.reset :hover{
    background-color: #ffca2c;
}

.br-l{
    border-left: 0;
}

.br-r{
    border-right: 0;
}

.br-t{
    border-top: 0;
}

.br-b{
    border-bottom: 0;
}